@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
   background-image: url('frog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   background-color: #f8f9fa;
   font-family: 'Poppins', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
}

.container {
   position: relative;
   width: 60%;
   max-width: 600px;
   perspective: 1000px;
   cursor: pointer;
}

.flap {
   width: 107%;
   height: 50px;
   background-color: #6b8e23;
   border: 2px solid #6b8e23;
   border-bottom: none;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   transition: transform 1s ease;
   transform-origin: top;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.letter {
   width: 100%;
   padding: 20px;
   background-color: #6b8e23;
   border: 2px solid #6b8e23;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   line-height: 1.6;
   opacity: 0;
   transform: rotateX(-90deg);
   transition: transform 1s ease, opacity 1s ease;
   transform-origin: top;
}

.container.open .flap {
   transform: rotateX(-180deg);
}

.container.open .letter {
   opacity: 1;
   transform: rotateX(0deg);
}

h1 {
   font-size: 2em;
   color: #fff;
   margin-bottom: 20px;
}

p {
   margin-bottom: 20px;
   text-indent: 50px;
   font-size: 12px;
   color: #f1f1f1;
   font-weight: bold;
   text-align: justify;
   
}
h5 {
   font-size: 12px;
   color: #fff;
   margin-bottom: 20px;

}

p:last-child {
   text-align: right;
   text-indent: 0;
}

audio {
   position: fixed;
   bottom: 0;
   right: 0;
   color: #fff;
   width: 10%;
   height: 10px;
}

h3 {
   font-size: 15px;
   color: #fff;
   text-align: center;
   top: 5%;
}
